body {
    margin: 0px;
    width: 30%;
    background-image: url("IMG_8181.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-position: bottom 1000px; */
    background-attachment: fixed;


}

* {
    box-sizing: border-box;
    width: 100%;
}

.content {
    -webkit-box-flex: initial;
    flex: 1 0 auto;
    max-width: 100%;
    display: block;

}

.displayTest {
    display: block;
}

.page_container {
    position: relative;
    overflow: visible;
    width: 100%;
    display: block;
}

/* .content{
    margin: auto;
   
    width:80vw;
    padding:20% 30% 30% 20%;
} */
.project_01 {
    position: absolute;
    top: 50%;

    /* margin-top: 30%;  */
    /* padding-top:35%;  */
    stroke-width: 10px;
    /* background-color: red; */
    /* 為什麼只有第一個有作用？ */
}

.project_02 {
    position: absolute;
    top: 130%;
    /* background-color: blue; */
}

.project_03 {
    position: absolute;
    top: 325%;
    /* background-color: red; */
}

.project_05 {
    position: absolute;
    top: 430%;
    /* background-color: red; */
}

.project_10 {
    position: absolute;
    top: 550%;
}

.project_11 {
    position: absolute;
    top: 680%;
}

.project_12 {
    position: absolute;
    top: 730%;
}

.project_13 {
    position: absolute;
    top: 980%;
}

.project_14 {
    position: absolute;
    top: 1155%;
}

.project_15 {
    position: absolute;
    top: 1280%;
}

.project_16 {
    position: absolute;
    top: 1400%;
}

.contentPic {

    position: absolute;
}

.rotate90 {

    transform: rotate(90deg);
}

/* .homePicDiv{
    
    padding: 10%;
    margin-top: 80%;
    現在在中間是因為我射的參數100px看起來剛好在中間
     
      display: flex;  
      flex-direction: row;
     justify-content: space-between;
    
    flex-wrap: wrap;
    align-items: center;
    gap:200px 30px ;
  

}
.homePic{
    width:30%;
    height:30%;
   
}

.sketch{
    width:50%;
    height:50%;
} */