body{
    margin:0px;
    width: 30%;
    background-image: url("IMG_8181.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    background-position:bottom 1000px; 
    background-attachment: fixed;
  
    
}

/* .content{
    margin: auto;
   
    width:80vw;
    padding:20% 30% 30% 20%;
} */
.project_01{
    position: absolute;
    top:50%;

     /* margin-top: 30%;  */
    /* padding-top:35%;  */
    stroke-width: 10px;
    /* background-color: red; */
    /* 為什麼只有第一個有作用？ */
}

.project_02{
    position: absolute;
    top:150%;
}

.project_05{
    position: absolute;
    top:250%;
}

.project_10{
    position: absolute;
    top:330%;
}

.project_11{
    position: absolute;
    top:400%;
}

.project_12{
    position: absolute;
    top:480%;
}

.project_13{
    position: absolute;
    top:600%;
}

.project_15{
    position: absolute;
    top:700%;
}

.project_16{
    position: absolute;
    top:850%;
}
.contentPic{

    position: absolute;
}

/* .homePicDiv{
    
    padding: 10%;
    margin-top: 80%;
    現在在中間是因為我射的參數100px看起來剛好在中間
     
      display: flex;  
      flex-direction: row;
     justify-content: space-between;
    
    flex-wrap: wrap;
    align-items: center;
    gap:200px 30px ;
  

}
.homePic{
    width:30%;
    height:30%;
   
}

.sketch{
    width:50%;
    height:50%;
} */

